<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <p>The United States of America (commonly referred to as the United States, U.S., USA, or America),
        is a federal republic composed of 50 states, a federal district of Washington, D.C.,
        five major territories, and various possessions.</p>

      <p>The 48 contiguous states and Washington, D.C., are in central North America between Canada and Mexico.
        The state of Alaska is in the northwestern part of North</p>
    </div>
    <div class="col-lg-4 global-goals-text">
      <p class="pull-left">The Global Goals are my business too</p>
    </div>
  </div>
  <div class="row">
    <%= form_tag('/submit') do %>
    <div class="col-lg-4">
      Name*: <%= text_field_tag :name, nil, class: 'form-control', required: true %><br>
      Company: <%= text_field_tag :company, nil, class: 'form-control', required: true %><br><br>
      <p>By submitting your email address...</p><br>
    </div>
    <div class="col-lg-4">
      Email*: <%= email_field_tag :email, nil, class: 'form-control',required: true %><br>
      Turnover: <%= text_field_tag :turnover, nil, class: 'form-control', required: true %><br>
    </div>
    <div class="col-lg-4">
      Country*: <%= text_field_tag :country, nil, class: 'form-control', required: true %><br>
      #of employees: <%= number_field_tag :no_employees, nil, class: 'form-control', required: true %><br><br>
      <%= submit_tag('Submit', class: 'btn btn-primary btn-lg btn-danger')%><br><br><br><br><br><br>
    </div>
    <% end%>
  </div>
</div>