<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>BusinessWorthy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <%= render :partial => 'shared/top_navigation' %>
    </header>

      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <%= yield %>

    <%= render :partial => 'shared/footer' %>

</body>
</html>
